body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainimg{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.w-49{
    width: 49%;
}
.landingimages{}